# This should reproduce the regression in http://crbug.com/425582.
# It was based on:
# http://build.chromium.org/p/tryserver.chromium.perf/builders/linux_perf_bisect/builds/704

config = {
  'command': 'out/Release/content_unittests --single-process-tests --gtest_filter=DOMStorageAreaTest',
  'good_revision': '311607',
  'bad_revision': '311608',
  'bisect_mode': 'return_code',
  'builder_type': 'full',
}

# Workaround git try issue, see crbug.com/257689
